body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #000;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainPage img {
    width: 50%;
}

.grid {
    justify-content: center;
    display: grid;
    overflow: hidden;
    position: relative;
}

.pacman {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    /* transition: transform 0.2s ease; */
    will-change: transform;
    transform: translate(425px, 695px);
    z-index: 2;
    position: absolute;
    display: block;
}

.history-container {
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    z-index: 10;
}

.history-container img {
    width: 65vw;
    height: auto;
}

.history-container span {
    position: absolute;
    bottom: 5%;
}

.history-container span:nth-child(2) {
    padding: 15px;
    font-size: 24px;
    color: blue;
}

.pacman-death {
    animation: mymove 1s;
}

@keyframes mymove {
    0% {
        width: 15px;
        height: 15px;
    }
    25% {
        width: 10px;
        height: 10px;
    }
    75% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}

.instruction {
    display: none;
    color: red;
    font-size: 24px;
}

.pacman_eye {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 20%;
    height: 20%;
    background-color: #000;
    z-index: 3;
    border-radius: 50%;
}

.pacman_mouth {
    position: absolute;
    bottom: 10%;
    background: #000;
    left: 1%;
    bottom: 20%;
    width: 50%;
    will-change: transform;
    height: 25%;
    border-radius: 0% 50% 50% 50%;
    z-index: 3;
}

.doorEnemy {
    background: red;
    width: 30px;
    height: 30px;
}

.teleport {
    background-color: blue;
    width: 30px;
    height: 30px;
}

.coin {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-image: url("./assets/corona.png");
    border-radius: 50%;
    background-repeat: no-repeat;
    will-change: opacity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cookie {
    background-image: url("./assets/medical.png");
    border-radius: 50%;
    background-repeat: no-repeat;
    will-change: opacity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.wall {
    background-color: blue;
    width: 100%;
    height: 100%;
}

.box {
    text-align: center;
    position: relative;
}

#stats {
    color: #fff;
    font-size: 24px;
}

.ghost {
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    will-change: opacity;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    border: none;
}

.pink {
    will-change: opacity;
    background-image: url("./assets/pinkbat.png");
    will-change: transform;
    transform: translate(360px, 420px);
    /* transition: transform 0.2s; */
}

.orange {
    will-change: opacity;
    background-image: url("./assets/bat2.png");
    will-change: transform;
    transform: translate(390px, 420px);
    /* transition: transform 0.2s; */
}

.red {
    will-change: opacity;
    /* background: red; */
    background-image: url("./assets/redbat.png");
    transform: translate(420px, 420px);
    /* transition: transform 0.2s ease; */
}

.cyan {
    will-change: opacity;
    background-image: url("./assets/bluebat.png");
    will-change: transform;
    transform: translate(450px, 420px);
    /* transition: transform 0.2s; */
}

.scoreBoard {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px 0px;
    font-size: 24px;
}

.logo {}

.logo img {
    width: 50%;
    height: auto;
}

.links a {
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.7em;
    opacity: 1;
    text-decoration: none;
}

.links a:hover {
    opacity: 0.5;
}

.links {
    display: flex;
    flex-direction: column;
}

.menu {
    align-items: center;
    flex-direction: column;
}

.menu img {
    width: 50%;
    height: auto;
}

.faq {
    position: absolute;
    top: 5%;
}

.gameMenu {
    display: none;
    width: 400px;
    margin: 20% auto 0;
}

.history-container {
    display: none;
}

.modal {
    display: none;
    color: #fff;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal a {
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 10px;
    padding: 10px;
    background: yellow;
    color: #000;
}

.modal a:hover {
    opacity: 1;
    cursor: pointer;
}

.notify {
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 4;
}

.score-container {
    width: 100vw;
    height: 100vh;
    background: #000;
}